
:root {
    --imagecolor: #fdffd2;
    --title-color: rgb(224, 171, 255);
    --table-radius: 15px;
}

*{
    padding: 0px; /*ここら辺はとりあえずつけてるやつ*/
    margin: 0px;
    box-sizing: border-box;
    font-style: normal;
    caret-color: transparent;
    
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;

    list-style: none;
}

html{
    scroll-behavior: smooth;
    background-color: var(--imagecolor);
}

header{
    color: #272727d7;
    margin: 0 20px;
    margin-top: 10px;
    border-bottom: 4px solid rgb(185, 156, 138);
}
header h1{
    font-size: 2rem;
    margin: 3px;
}

img{
    /*これがないと画像サイズが優先されてはみ出る*/
    max-width: 100%;
}

#topChannelDescription{
    border-radius: 1.5rem;
    overflow: hidden;

    height: min(20vw, 200px);
    max-width: 900px;
    margin: 0 20px;
    margin-top: 20px;
    margin-bottom: 15px;

    background-image: url(https://lh3.googleusercontent.com/d/188izk6OAPLnnKnjeZsBjrUz7aV5wWRuv);
    background-size: 7em;
    background-position: 30px 50px;
}
#topChannelDescription > div{
    display: flex;
    padding: 15px;
    background-color: #FFFFFF80;
    height: 100%;
}
#topChannelDescriptionLeft{
    height: 100%;
    aspect-ratio: 1; /*正方形にする*/
    padding-right: 7px;
    border-right: 2px solid rgba(175, 175, 175, 0.5);

    /*中央寄せ*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#topChannelDescriptionRight{
    padding-left: 10px;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
#topChannelTitle{
    display: flex;
    align-items: center;
    font-size: min(2.5vw, 1rem);
    margin-bottom: 5px;
}
#topChannelDetail{
    overflow: hidden;
    font-size: min(2.5vw, 1rem);
}
#topChannelDetail p{
    padding-bottom: 2px;
}

#menu{
    display: flex;
    justify-content: space-between;
    margin: 0 22px;
}

.channelIcon{
    border-radius:50%; /*チャンネルアイコンを丸く*/
}

#streamList{
    margin: 3px 10px;
    color: #63554f;
}

.yearColumn{
    padding: 0 10px;
}
.yearText{
    font-size: 1.4rem;
    padding: 0 3px;
    border-bottom: 3px solid rgb(185, 156, 138);
}
.yearColumn > ul{
    padding: 2px 0;
}

.monthColumn > ul{
    padding: 6px;
    border-radius: 15px;
}
.monthText{
    margin-top: 2px;
    padding-left: 6px;
    background-color: #e5d0e7;
    line-height: 1.7rem;
}

.dayColumn{
    padding: 0;
}
.dayColumn:not(:first-child){
    padding-top: 5px;
    border-top: 2px solid rgba(153, 140, 127, 0.7);
}

.videoElement{
    padding: 12px 15px;
    background-color: #FFFFFFC0;
    margin-bottom: 4px;
    margin-left: 6px;

    display: flex;
}
.thumbnail{
    width: min(25vw, 300px);
    aspect-ratio: 16 / 9;
    padding-right: 7px;
    border-right: 2px solid rgba(175, 175, 175, 0.3);
    flex-shrink: 0;
    
    /*たま～に16:9以外のサムネがあるから16:9にそろえる*/
    /*中央寄せしてhidden*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.videoDescription{
    margin-left: 9px;
    padding-top: 10px;
    min-width: 0;
}
.videoTitle{
    overflow: hidden;
    /*改行した時二行分だけ表示させたい*/
    max-height: 2.5rem;
    font-size: 0.9rem;
    /*パソコンだと大丈夫だけどスマホで見るとはみ出してたから追加*/
    line-height: 1.5;
    font-size: 0.9rem;
    max-width: 100%;
}
.videoDetails{
    width: 100%;
    margin-top: 3px;
    margin-left: 3px;
    display: flex;
}
.videoDetails p{
    margin-right: 10px;
    font-size: 0.8rem;
}


#liveChatList{
    margin: 10px;
    padding: 5px 15px;
    padding-right: 5px;
    background-color: #FFFFFFC0;
    border: 1px solid rgba(90, 82, 72, 0.3);
    max-height: 80vh;
    overflow-y: auto;
}
.chatElement{
    font-size: 0.7rem;
    line-height: 0.9rem;
    vertical-align: middle;
    border-radius: 4px;
    overflow: hidden;
}
.chatElement:not(:nth-child(2)){
    margin-top: 0.3rem;
    /*border-top: 1px solid rgba(90, 82, 72, 0.3);*/
}
.liveChatTopContent{
    display: flex;
    align-items: center;
}
.chatLeftContent{
    width: 2em;
    /*コメントが折り返す長さになってもアイコンが縮まらないように*/
    flex-shrink: 0;
}
.chatLeftContent .channelIcon{
    /*404の画像のやつが大きくなってくれない…*/
    /*width: 100%;*/
}
.chatRightContent{
    margin-top: 0em;
    padding: 0.5em 0;
}
.chatTimestamp{
    font-size: 0.9em;
    color: #8b868b;
}
.chatFirstContent span.chatTimestamp{
    margin: 0.8em;
}
.chatFirstContent span.chatAuthorBadge{
    margin-right: 0.8em;
}
.emoji{
    /*絵文字用*/
    max-height: 1.7em;
    vertical-align: -0.4em;
    margin: 0 1px;
}
.badge{
    max-height: 1.3em;
    vertical-align: -0.3em;
}
.chatAuthor{
    color: #3d3b3d;
}
.membersChat .chatAuthor{
    color: #107516;
}

.memberMileRenderer .liveChatTopContent, .memberRenderer .liveChatTopContent{
    background-color: #0f9d58;
}
.memberMileRenderer .liveChatBottomContent, .memberRenderer .liveChatBottomContent{
    background-color: #1eb76e;
    color: white;
    font-size: 1.3em;
    padding: 0.5em 0.8em;
}
.memberMileRenderer .chatLeftContent, .memberRenderer .chatLeftContent{
    width: 3em;
    /*コメントが折り返す長さになってもアイコンが縮まらないように*/
    flex-shrink: 0;
}.memberRenderer .chatLeftContent{
    margin: 0.4rem 1em;
}
.memberMileRenderer .chatLeftContent{
    margin: 0.6rem 1.2em;
}
.memberMileRenderer .chatAuthor, .memberRenderer .chatAuthor{
    color: white;
}
.memberMileRenderer .chatSecondContent, .memberRenderer .chatSecondContent{
    font-size: 1.2em;
    color: white;
}
.memberMileRenderer .chatThirdContent, .memberRenderer .chatThirdContent{
    color: #e5e1e5;
}
